@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

    <div class="text-center">
        <h1 id="color_change" class="display-4" onmouseover="changeColor()" onmouseout="originalColor()">Welcome</h1>
        <p>This is my embed video from my final assignment.</p>
    </div>

    <div class="container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/25LBTSUEU0A?si=rcrFiXMlVnPOEbDZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>



